<?xml version="1.0" encoding="utf-8" ?>
<config>
  <input>
    <inputFormat>singleLine</inputFormat> <!-- separatedRows/singleLine IRRELEVANT FOR XML-->
    <splitKeyValue>=</splitKeyValue> <!-- The char that separate key from value IRRELEVANT FOR XML-->
    <splitVariables>,</splitVariables> <!-- The string that separate each variable IRRELEVANT FOR XML -->
    <firstValue>TimeStamp</firstValue>
    <lastValue>Value</lastValue>
  </input>
  <Mqttsettings>
    <MqttTopicSubscribe>software_config/TWINS_M166</MqttTopicSubscribe>
    <MqttIpAddressSubscribe>127.0.0.1</MqttIpAddressSubscribe>
  </Mqttsettings>
</config>
